<app-popup *ngIf="displayPopup" [popupInfo]="popupInfo" (closePopup)="closePopup()"></app-popup>

<div *ngIf="showTable; else addForm">
    <div style="display: flex; justify-content: right; width: 90%; margin: 20px auto;">
        <!-- <app-search></app-search> -->
        <button (click)="showAddForm()" [routerLink]="'create'"  class="btn add-btn">Add New</button>
    </div>
    <div style="overflow-x: auto;">
        <table class="student-table">
            <thead>
                <tr>
                    <th style="text-align: center;">Student ID</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Department</th>
                    <th style="text-align: center;">Session</th>
                    <th style="text-align: center;">Gender</th>
                    <th style="text-align: center;">Phone</th>
                    <th style="text-align: center;">Address</th>
                    <th style="text-align: center;">Blood Group</th>
                    <th style="text-align: center;">Last Donated</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{ student.studentId }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.department }}</td>
                    <td>{{ student.session }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.address?student.address:"Unknown" }}</td>
                    <td>{{ student.bloodGroup }}</td>
                    <td>{{ student.lastDonatedAt }}</td>
                    <td class="actions">
                        <button [routerLink]="['update',student.studentId]" class="update-btn" (click)="readyFormToUpdate(student)">Update</button>
                        <button class="delete-btn" (click)="onDelete(student.id,student.name)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <a *ngFor="let pN of paginationArray"
            [routerLink]="['/page', pN, pageSize]"
           (click)="updatePageNumber(pN)"
           class="btn" 
           [ngClass]="{'add-btn': pN === pageNumber, 'disabled': pN==='...', 'add-btn-inactive':  (pN !=='...' && pN !== pageNumber)}">
          {{ pN }}
        </a>
    </div>
</div>

<ng-template #addForm>
    <app-add-form [updateInfo]="updateInfo" (cancel)="cancel()" (update)="update()"></app-add-form>
</ng-template>

