<header class="main-header">
      <a class="title" routerLink="/">Student Crud Application</a>
      <div class="menu">
            <div>
                  <a class="nav-item mx-3" routerLink="students">Students</a>
                  <a class="nav-item mx-3" href="/teachers">Teachers</a>
                  <a class="nav-item mx-3" href="/admin-dashboard">Admin</a>
                  <a class="nav-item mx-3" href="/messages/inbox">Messages</a>
            </div>
            <div *ngIf="!accountService.isLoggedIn()">
                  <a routerLink="/login" class="mx-2">Login</a>
                  <a routerLink="/register" class="mx-2">Register</a>
            </div>
            <div *ngIf="accountService.isLoggedIn()" style="cursor: pointer;">
                  <span class="text-light"> Welcome {{accountService.getCurrentUser()?.username}}</span> |
                  <a (click)="logout()" class="mx-2">Logout</a>
            </div>
      </div>
</header>