.container-fluid{
    width: 100%;
    height: fit-content;
    padding: 0;
}

.inbox-message-list{
    width: 10%;
    max-width: 200px;
    min-width: 200px;
    margin: 0;
    overflow-y: scroll;
}

.inbox-message-list ul{
    list-style: none;
}

.inbox-message-list ul li{
    cursor: pointer;
    padding: 10px;
}

.active-chat{
    background-color: #d6d6d6;
}

.inbox-message-list ul li:hover{
    background-color: #f1f1f1;
}

.chat-box{
    width: 90%;
    height: 90vh;
}

.title{
    text-align: center;
    font-size: 20px;
    background-color: gray;
 }
