<div>
    <div style="display: flex; justify-content: space-between; width: 90%; margin: 20px auto;">
        <app-search (updateFilterParameter)="updateFilterParameter($event)"></app-search>
        <div>
            <button routerLink="/create" class="btn btn-info">Add New</button>
        </div>
    </div>
    <div style="overflow-x: auto;">
        <table class="student-table">
            <thead>
                <tr>
                    <th style="text-align: center;">#</th>
                    <th style="text-align: center;">Student ID</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Department</th>
                    <th style="text-align: center;">Session</th>
                    <th style="text-align: center;">Gender</th>
                    <th style="text-align: center;">Phone</th>
                    <th style="text-align: center;">Address</th>
                    <th style="text-align: center;">Blood Group</th>
                    <th style="text-align: center;">Last Donated</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ student.studentId }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.department }}</td>
                    <td>{{ student.session }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.address?student.address:"Unknown" }}</td>
                    <td>{{ student.bloodGroup }}</td>
                    <td>{{ student.lastDonatedAt }}</td>
                    <td class="actions">
                        <button class="btn btn-warning me-2" (click)="readyFormToUpdate(student, 'update')">Update</button>
                        <button class="btn btn-warning me-2" style="opacity: 0.7;" (click)="readyFormToUpdate(student, 'partial-update')">Patial Update</button>
                        <button class="btn btn-danger" (click)="delete(student.id,student.name)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-pagination [numberOfPages]="numberOfPages" [pageNumber]="filterParameters.pageNumber" (updatePage)="updatePageNumber($event)"></app-pagination>
</div>


