<div *ngIf="!initiate" class="text-center my-5">
    Please select one
</div>
<div *ngIf="initiate" class="chat">
    <div class="text-center">
        <button class="btn btn-info" (click)="getMoreMessage()">More</button>
    </div>
    <ul #scrollChatBox>
        <li  class="py-2 px-4 user-message" [ngClass]="{'text-end': senderUsername === message.senderUsername}" *ngFor="let message of messages">{{ message.content }}</li>
    </ul> 
    <form #messageForm="ngForm" class="message-input" (submit)="sendMessage()" class="input-group mx-auto" style="width: 60%;">
        <input 
        name="content" required 
        [(ngModel)]="content"
        type="text" class="form-control"  style="box-shadow: 0px 0px 9px 0px #adadac; outline: none; padding: 10px;" placeholder="Send a private message">
        <div class="input-group-append" >
            <button [disabled]="!messageForm.valid" class="btn btn-warning" style="box-shadow: 0px 0px 9px 0px #ffc107; padding: 10px;" type="submit"> Send </button>
        </div>
    </form>
</div>
