<div class="d-flex justify-content-start mt-3 mx-5">
    <div>
        <button class="btn btn-warning" [routerLink]="'/messages/inbox'">Inbox</button>
    </div>

    <div class="xt-blog-form ms-5">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Type here" name="username" [(ngModel)]="username" name="srch-term" id="srch-term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="searchUser()"  style="border-radius: 0px var(--bs-border-radius) var(--bs-border-radius) 0px;">
                <i class="fas fa-search text-light"></i>
            </button>
          </div>
        </div>
    </div>
</div>

<div class="new-message" *ngIf="newMessage.length>0">
    <h4>New Message</h4>
    <div class="row d-flex">
        <ng-container *ngFor="let message of newMessage">
            <div class="card col-2 text-center m-4" 
            style="background-color: #3eadcfbb; border: 1px solid #3eadcf; cursor: pointer;"
            routerLink="inbox" [queryParams]="{recipientUsername:message.username}"
            >
                <div class="card-body">
                    <h6 class="card-title" >{{message.unreadMessageCount}} message from {{message.username}}</h6>
                </div>
            </div>
        </ng-container>
    </div>
    <hr>
</div>

<div class="search-users">
    <div class="row d-flex">
        <ng-container *ngFor="let user of users">
            <div class="card col-2 text-center m-4" 
            *ngIf="user.username !== currentUser.username" 
            (click)="gotoInbox(user.username)"
            style="cursor: pointer;">
                <div class="card-body">
                    <h5   class="card-title">Click to chat
                        with {{user.username}}</h5>
                </div>
            </div>
        </ng-container>
    </div>
</div>